body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #333;
}

.video-container {
    position: relative;
    display: inline-block;
}

video, canvas {
    width: 790px;
    height: 580px;
    border-radius: 10px;
    border: 2px solid #333;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}